@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: 'Montserrat', 'sans-serif';
    background: #171717;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}